<%- include('./partials/header2.ejs') %>
     <!-- ==============================================
	 Dashboard Section
	 =============================================== -->
     <section class="dashboard section-padding">
	  <div class="container">
	   <div class="row">
	   
	    <div class="col-sm-4 col-md-3">
		
		  <ul class="sidebar-menu" data-widget="tree">
			<li class="active">
			  <a href="/dashboard">
				<i class="fa fa-life-ring"></i> <span>Dashboard</span>
			  </a>
			</li>
			<li>
			  <a href="/contract">
				<i class="fa fa-align-left"></i> <span>Contracts</span>
			  </a>
			</li>
			<li class="treeview">
			  <a href="/#">
				<i class="fa fa-files-o"></i> <span>Jobs</span>
				<span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
			  </a>
			  <ul class="treeview-menu">
				<li><a href="jobsposted"><i class="fa fa-circle-o"></i> Jobs Posted</a></li>
				<li><a href="addjob"><i class="fa fa-circle-o"></i> Add a Job</a></li>
			  </ul>
			</li>
			<li>
			  <a href="/offers">
				<i class="fa fa-file"></i> <span>Offers</span>
			  </a>
			</li>
			<li>
			  <a href="/messages">
				<i class="fa fa-envelope"></i> <span>Messages</span>
				<span class="pull-right-container">
				  <small class="label pull-right bg-green">4</small>
				</span>
			  </a>
			</li>
		 </ul>		
		
		  <ul class="sidebar-menu" data-widget="tree">
			<li class="treeview">
			  <a href="/#">
				<i class="fa fa-exchange"></i> <span>Wallet</span>
				<span class="pull-right-container">
				  <i class="fa fa-angle-left pull-right"></i>
				</span>
			  </a>
			  <ul class="treeview-menu">
				<li><a href="deposits"><i class="fa fa-circle-o"></i> Deposits</a></li>
				<li><a href="withdrawals"><i class="fa fa-circle-o"></i> Withdrawals</a></li>
			  </ul>
			</li>
		 </ul>	
		 
		  <ul class="sidebar-menu" data-widget="tree">
			<li>
			  <a href="/editprofile">
				<i class="fa fa-user"></i> <span>Edit Profile</span>
			  </a>
			</li>
			<li>
			  <a href="/profileimage">
				<i class="fa fa-image"></i> <span>Change Profile Image</span>
			  </a>
			</li>
			<li>
			  <a href="/password">
				<i class="fa fa-lock"></i> <span>Change Password</span>
			  </a>
			</li>
		 </ul>			 
		       		
	    </div>
		
	    <div class="col-sm-8 col-md-9">		

		  <div class="job-box">
		   <div class="job-header">
		    <h4>Add Job</h4>
		   </div>
           <form method="post" id="addform">
		   
              <div class="form-group">	
			    <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="Title" value=""/>
              </div>   
            
            <div class="col-lg-6">
              <div class="form-group">	
			    <label>Category</label>
                 <select name="category" class="form-control">
				  <option value="">Admin Support</option>
				  <option value="">Web, Software &amp; IT</option>
				  <option value="">Design, Art &amp; Multimedia</option>
				  <option value="">Writing &amp; Translation</option>
				  <option value="">Management &amp; Finance</option>
				  <option value="">Sales &amp; Marketing</option>
				  <option value="">Engineering &amp; Architecture</option>
				  <option value="">Legal</option>
				  <option value="">Other</option>	
				 </select>	
              </div> 
            </div> 		
            
            <div class="col-lg-6 job-sec">
              <div class="form-group">	
			    <label>Sub Category</label>
				<select class="form-control">
				 <option value="">HTML5</option>	
				 <option value="">CSS3</option>	
				 <option value="">Bootstrap</option>	
				 <option value="">PHP</option>	
				</select>
              </div> 
            </div>	
			
              <div class="form-group">	
			    <label>Country</label>
				<select class="form-control">
				 <option value="">USA</option>	
				 <option value="">UK</option>	
				 <option value="">Russia</option>	
				 <option value="">Kenya</option>	
				</select>
              </div> 
		   
              <div class="form-group">	
			    <label>How would you like to pay?</label>
				<p>
                 <a href="/" class="selected">By Hour</a>
				 <a href="/" class="unselected">Fixed Cost</a>
				</p>
              </div>   
			  
              <div class="form-group">	
			    <label>Budget</label>
                <input type="text" name="budget" class="form-control" placeholder="Budget" value=""/>
              </div>   
		   
              <div class="form-group">	
			    <label>Hours per week</label>
				<p>
                 <a href="/" class="unselected">40+</a>
				 <a href="/" class="unselected">30-39</a>
				 <a href="/" class="selected">20-29</a>
				 <a href="/" class="unselected">10-19</a>
				 <a href="/" class="unselected">1-9</a>
				</p>
              </div> 
		   
              <div class="form-group">	
			    <label>Desired Experience Level</label>
				<p>
                 <a href="/" class="unselected">$ Entry Level</a>
				 <a href="/" class="unselected">$$ Intermediate</a>
				 <a href="/" class="selected">$$$ Expert</a>
				</p>
              </div> 
		   
              <div class="form-group">	
			    <label>Job Duration</label>
				<p>
                 <a href="//" class="unselected">Not Sure</a>
                 <a href="//" class="unselected">6+ Months</a>
				 <a href="//" class="selected">3 to 6 Months</a>
				 <a href="//" class="unselected">1 to 3 Months</a>
				 <a href="//" class="unselected">Less than 1 Month</a>
				 <a href="//" class="unselected">Less than 1 Week</a>
				</p>
              </div> 
			  
			  <div class="form-group">	
			   <label>Description</label>
			   <textarea class="form-control" rows="5" placeholder="Provide a more detailed description of your job to get better proposals."></textarea>
			  </div> 
			  
              <button class="kafe-btn kafe-btn-mint-small full-width">Submit</button>
           </form>
          </div><!-- /.job-box -->		
		
	    </div><!-- /.col-md-9 -->	
	        </div><!-- /.row -->
	    </div><!-- /.container -->
	</section>	 
	 
	 
 <!-- ==============================================
	 Footer Section
	 =============================================== -->
     <div class="footer">
		<div class="container">
		 <div class="row">
		
		  <div class="col-md-4 col-sm-6 text-left">
		   <h4 class="heading no-margin">About Us</h4>
		   <hr class="mint">
		   <p>CodeNcake.</p>
		   <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</p>
		  </div>
		 
		  <div class="col-md-2 col-sm-6 text-left">
		   <h4 class="heading no-margin">Company</h4>
		   <hr class="mint">
		   <div class ="no-padding">
			<a href="/index">Home</a>
			<a href="/about">About</a>
			<a href="/jobs">Jobs</a>
			<a href="/services">Developers</a>
			<a href="/how-1">How it works</a>
			<a href="/contact">Contact</a>		 
		   </div>
		  </div><!-- /.col-md-2 -->	
		  
		  <div class="col-md-3 col-sm-6 text-left">
		   <h4 class="heading no-margin">Other Services</h4>
		   <hr class="mint">
		   <div class="no-padding">
			<a href="/#">Privacy Policy</a>
			<a href="/#">Terms of Use</a>
			<a href="/faq">FAQ</a>		 
		   </div>
		  </div><!-- /.col-md-3 -->	
		  
		  <div class="col-md-3 col-sm-6 text-left">
		  <h4 class="heading no-margin">Browse</h4>
		  <hr class="mint">
		   </div><!-- /.col-md-3 -->
		   
		  </div><!-- /.row -->
		 <div class="clearfix"></div>
		</div><!-- /.container-->
	   </div><!-- /.footer -->			
	   
	   <!-- ==============================================
	   Made Section
	   =============================================== -->
	   <section class="made">
		<div class="container">
		 <div class="row">
		  <div class="col-lg-10 col-lg-offset-1 text-center">
		   <h4 class="made-with-love">CodeNCake</h4>
		  </div>
		  <!-- /.col-lg-10 -->
		 </div><!-- /.row -->
		</div><!-- /.container -->
	   </section><!-- /.made -->
	   
	   <!-- ==============================================
	   Bottom Footer Section
	   =============================================== -->	
	   <footer id="main-footer" class="main-footer">
		<div class="container">
		 <div class="row">
		 
		  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		   <ul class="social-links">
			<li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="/#link"><i class="fa fa-facebook fa-fw"></i></a></li>
			<li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="/#link"><i class="fa fa-twitter fa-fw"></i></a></li>
			<li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="/#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
			<li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="/#link"><i class="fa fa-pinterest fa-fw"></i></a></li>
			<li class="revealOnScroll" data-animation="slideInLeft"><a href="/#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
		   </ul>
		  </div>
		  <!-- /.col-sm-4 -->
		  
		  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn" data-timeout="200">
		   <div class="img-responsive text-center">
			<i class="fa fa-coffee logo"></i>		 </div><!-- End image-->
		  </div>
		  <!-- /.col-sm-4 -->
		  
		  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight" data-timeout="200">
		   <p>&copy;2016 The CodeNCake</p>
		  </div>
		  <!-- /.col-sm-4 -->
				  
		 </div><!-- /.row -->
		</div><!-- /.container -->
	   </footer><!-- /.footer -->  
	   
	   <a id="scrollup">Scroll</a>
</body>
</html>