<%- include('./partials/header.ejs') %>
     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header class="header-one">
      <div class="container">
	   <div class="content">
	   
        <div class="row">
		 <h1 class="name revealOnScroll" data-animation="fadeInDown"><i class="fa fa-coffee"></i>CODENCAKE</h1>
		 <p class="temp">The Developers Portal</p>
         <h1 class="hire revealOnScroll" data-animation="fadeInUp" data-timeout="400">Find everything that a developer needs!</h1>
        </div><!--./row -->
		
       </div><!--./content -->
	  </div><!--./container -->
     </header><!--./header -->

     <!-- ==============================================
	 Stats Section
	 =============================================== -->	
	 <section id="stats" class="stats">
	  <div class="container text-center">
		
	   <div class="row">
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Companies</h5>
		 <h1><span class="number-animator" data-value="505" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="45%" ></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Developers</h5>					
		 <h1><span class="number-animator" data-value="4500" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="79%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Jobs Completed</h5>
		 <h1><span class="number-animator" data-value="14000" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->

	   	<div class="col-lg-3 col-sm-6 pro">
		 <h5>Payed To Freelancers</h5>
		 <h1><i class="fa fa-usd"></i><span class="number-animator" data-value="500K" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /section -->
	  
     <!-- ==============================================
	 Testimonials Section
	 =============================================== -->	
     <div id="testimonials">
	  <div class="container">  
	   <div class="row">
	   
	   <h3>Testimonials</h3>
	   <hr class="mint">
	   
		<div class="testimonials-slider">
		 <ul class="slides">
          <li>
           <p>I m wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective field and knocked my concept out of the ballpark. Thanks for an amazing experience!
		   <span>Segero, NoranicMeds</span></p>
		  </li>
		  <li>
           <p>I m wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective field and knocked my concept out of the ballpark. Thanks for an amazing experience!
		   <span>Segero, NoranicMeds</span></p>
		  </li>
		  <li>
		   <p>I m wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective field and knocked my concept out of the ballpark. Thanks for an amazing experience!
		   <span>Jane Doe</span></p>
		  </li>
         </ul><!-- /ul -->
		</div><!-- /.testimonials-slider -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </div>
     <!-- /section -->  
	 
     <!-- ==============================================
	 Footer Section
	 =============================================== -->
     <div class="footer">
	  <div class="container">
	   <div class="row">
	  
	    <div class="col-md-4 col-sm-6 text-left">
	     <h4 class="heading no-margin">About Us</h4>
		 <hr class="mint">
		 <p>The codencake. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to connect, collaborate, and get work done.</p>
		 <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</p>
	    </div><!-- /.col-md-4 -->
	   
	    <div class="col-md-2 col-sm-6 text-left">
	     <h4 class="heading no-margin">Company</h4>
		 <hr class="mint">
		 <div class ="no-padding">
		  <a href="index.html">Home</a>
		  <a href="about.html">About</a>
		  <a href="jobs.html">Jobs</a>
		  <a href="services.html">Freelancers</a>
		  <a href="how-1.html">How it works</a>
		  <a href="contact.html">Contact</a>		 
		 </div>
	    </div><!-- /.col-md-2 -->	
		
		<div class="col-md-3 col-sm-6 text-left">
	     <h4 class="heading no-margin">Other Services</h4>
		 <hr class="mint">
		 <div class="no-padding">
		  <a href="#">Privacy Policy</a>
		  <a href="#">Terms of Use</a>
		  <a href="faq.html">FAQ</a>		 
		 </div>
	    </div><!-- /.col-md-3 -->	
		
	    </div><!-- /.row -->
	   <div class="clearfix"></div>
	  </div><!-- /.container-->
     </div><!-- /.footer -->			
	 
	 <!-- ==============================================
	 Made Section
	 =============================================== -->
	 <section class="made">
	  <div class="container">
	   <div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
		 <h4 class="made-with-love">CodeNcake.
		</div>
		<!-- /.col-lg-10 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /.made -->
	 
	 <!-- ==============================================
	 Bottom Footer Section
	 =============================================== -->	
     <footer id="main-footer" class="main-footer">
	  <div class="container">
	   <div class="row">
	   
	    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		 <ul class="social-links">
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i class="fa fa-pinterest fa-fw"></i></a></li>
		  <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
		 </ul>
		</div>
	    <!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn" data-timeout="200">
		 <div class="img-responsive text-center">
		  <i class="fa fa-coffee logo"></i>		 </div><!-- End image-->
		</div>
		<!-- /.col-sm-4 -->
		
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight" data-timeout="200">
		 <p>&copy;CodeNCake.
		</div>
		<!-- /.col-sm-4 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </footer><!-- /.footer -->  
	 
     <a id="scrollup">Scroll</a>
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	 
     <!-- jQuery 2.1.4 -->
     <script src="js/jQuery-2.1.4.min.js" type="text/javascript"></script>
     <!-- Bootstrap 3.3.6 JS -->
     <script src="js/bootstrap.min.js" type="text/javascript"></script>
     <!-- Waypoints JS -->
     <script src="js/waypoints.min.js" type="text/javascript"></script>
     <!-- Jquery Animate Numbers -->
     <script src="js/jquery.animateNumbers.js" type="text/javascript"></script> 
     <!-- Jquery Flexslider -->
     <script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
     <!-- Kafe Flexslider -->
     <script src="js/kafe.flexslider.js" type="text/javascript"></script>
     <!-- Jquery Appear -->
	 <script  src="js/jquery.appear.js" type="text/javascript"></script>
     <!-- Kafe JS -->
     <script src="js/kafe.js" type="text/javascript"></script>

</body>
</html>
